/* GLOBAL */
@font-face {
    font-family: 'redactedregular';
    src: url('../fonts/redacted-regular.eot');
    src: url('../fonts/redacted-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/redacted-regular.woff') format('woff'),
         url('../fonts/redacted-regular.ttf') format('truetype'),
         url('../fonts/redacted-regular.svg#redactedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'redacted_scriptregular';
    src: url('../fonts/redacted-script-regular.eot');
    src: url('../fonts/redacted-script-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/redacted-script-regular.woff') format('woff'),
         url('../fonts/redacted-script-regular.ttf') format('truetype'),
         url('../fonts/redacted-script-regular.svg#redacted_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    background: url("../img/tweed.png") repeat;
    
}

.sub-nav{
    background: #eee;
}


.about {
    border-bottom: 1px solid #eee;
}

.yellow{
    background: rgba(252, 252, 3, .25);
}
.lightblue{
    background: rgba(170, 216, 231, .25);
}
.red{
    background: rgba(250, 3, 3, .25);

}
.purple{
    background: rgba(126, 0, 126, .25);
}
.darkblue{
    background: rgba(2, 2, 247, .25);
}
.green{
    background: rgba(1, 124, 1, .25);
}

.googleMap{
    padding-bottom: 10px;
}

.contact{
    border-top: 1px solid #eee;
}















